/* Imported Google fonts */
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

:root 
/* colors */
{
--navyblue-color: #2b4162;
--skyblue-color: #385f71;
--magnolia-color: #f5f0f6;
--ecru-color: #d7b377;
--chamoisee-color: #8f754f;
}

/* Whole site styling */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

/* Navbar */
header {
    background: var(--navyblue-color);
}

header .navbar{
    display: flex; 
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 150px;
    height: auto;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}


.navbar .nav-link {
    padding: 10px 18px;
    color: var(--magnolia-color);
    border-radius: 5mm;
    transition: 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--magnolia-color);
    background: var(--chamoisee-color);
}

/* Navigation bar complete */