@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Colors */
:root {
    --indigodye: #2b4162;
    --magnolia: #F5F0F6;
    --chamoisee: #8F754F;
    --ecru: #D7B377;
    --blue: #385f71;

/* Added similar logo colors */
    --salmon: #EF4644;
    --mustardyellow: #e9b92b;
    --vibrantpink: #EE286E;
    --tangerine: #EC5C23;
    --yellowish: #CCA52C;
}
/* Navigation & Homepage */
* {
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans";
}


nav {
    background-color: #2b4162;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
}

.hero-img{
    justify-content: left;
    padding-top: 2px;
    width: 150px;
    height: auto;
    padding-left: 2%;
}

nav ul li {
    text-align: left;
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}

nav ul li a{
    color: #F5F0F6;
    text-decoration: none;
    font-size: 18px;
    font-family: "Inter";
}

nav ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #e9b92b;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #ffc927;
    transition: 0.1s ease;
    
}

nav ul li .active {
    font-weight: bold;
}

.container {
    background: url(/img/ultra-bungee-hero.jpg) no-repeat center;
    background-size: cover;
    height: 130vh;
    width: auto;
    padding-top: 63vh;
}

.content {
    text-align: center;
    float: none;
    padding-top: 2px;
    padding-bottom: 5px;
    margin: 0px auto;
    color: #F5F0F6;
    background-color: #2b4162e3;
}

.content h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    font-family: "42dot Sans";
}

/* Buttons */
button {
    width: 200px;
    padding: 13px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #F5F0F6;
    background-color: #385f71;
    color:#F5F0F6;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}

span {
    background: #D7B377;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ease;
}

button:hover span {
    width: 100%;
}

button:hover {
    transition: 0.2s ease ;
    border: 2px solid #F5F0F6;
    background-color: #EC5C23;
}

/* Bridge section  */
.bridge {
    padding-top: 3px;
    padding: 50px 0;
    text-align: center;
}

.bridge h1 {
    font-size: 40px;
    padding: 20px 2px;
    text-decoration: none;
    font-family: "42dot Sans";
    color: #EE286E;
    font-weight: bold;
}

.bridge h2 {
    padding: 5px 0px;
    color: #000;
    font-family: "Roboto Flex";
    font-size: 45px;
}

.bridge p,
.canyon p {
    padding: 5px 0px;
    padding-bottom: 30px;
    color: #000;
    font-family: "DM Sans";
    font-size: 17px;
}

.bridge-metres {
    padding-top: 5px;
}
.bridge-price {
    padding-top: 5px;
}

.bridge-kids {
    padding-top: 5px;
}

/* Bridge information */
.information {
    background-color: #2b4162;
    color: #F5F0F6;
    padding: 50px 0;
    text-align: center;
}

.instructor h2 {
    padding: 8px 0px;
    font-family: "Roboto Flex";
    font-size: 25px;
    text-align: center;
}

.instructor ul li {
    padding: 2px;
    font-family: "DM Sans";
    font-size: 17px;
}

.info h2 {
    padding-top: 2%;
    padding-bottom: 10px;
    font-family: "Roboto Flex";
    font-size: 25px;
}

.info ul li {
    padding: 2px;
    font-family: "DM Sans";
    font-size: 17px;
}

/* Bridge gallery preview */
.thrill {
    padding-top: 3%;
    text-align: center;
}

.thrill-more {
    background-color: #23334d;
    color: #F5F0F6;
}

.thrill-images {
    padding-top: 20px;
    margin: 0;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.thrill-gallery {
    width: 200px; 
    height: 150px; 
    object-fit: cover;
    cursor: pointer;
}

.thrill-click {
    padding: 20px 5px;
    font-family: "DM Sans";
    font-size: 17px;
    text-align: center;
}

.thrill-click h3 {
    padding-bottom: 5px;
    font-family: "Roboto Flex";
    font-size: 17px;
    text-align: center;
}

.gallery-button {
    padding-top: 0px;
    text-align: center;
}

/* Canyon section */
.canyon {
    padding: 50px 0;
    text-align: center;
}

.canyon h1 {
    font-size: 40px;
    padding: 20px 2px;
    text-decoration: none;
    font-family: "42dot Sans";
    color: #EC5C23;
    font-weight: bold;
}

.canyon h2 {
    padding: 5px 0px;
    color: #000;
    font-family: "Roboto Flex";
    font-size: 45px;
}

.canyon p {
    padding: 5px 0px;
    padding-bottom: 30px;
    color: #000;
    font-family: "DM Sans";
    font-size: 17px;
}

.canyon-metres {
    padding-top: 5px;
}
.canyon-price {
    padding-top: 5px;
}

.canyon-kids {
    padding-top: 5px;
}

/* Canyon information */
.canyon-information {
    background-color: #2b4162;
    color: #F5F0F6;
    padding: 50px 0;
    text-align: center;
}

.canyon-information h2 {
    padding: 8px 0px;
    font-family: "Roboto Flex";
    font-size: 25px;
}

.canyon-info h2 {
    padding: 10px 0px;
    font-family: "Roboto Flex";
    font-size: 25px;
}

.canyon-info p {
    padding: 2px;
    font-family: "DM Sans";
    font-size: 17px;
}

/* Tower section */
.tower {
    padding: 30px 0;
    text-align: center;
}

.tower h1 {
    font-size: 40px;
    padding: 20px 2px;
    text-decoration: none;
    font-family: "42dot Sans";
    color: #CCA52C;
    font-weight: bold;
}

.tower h2 {
    padding: 5px 0px;
    color: #000;
    font-family: "Roboto Flex";
    font-size: 45px;
}

.tower p {
    padding: 5px 0px;
    padding-bottom: 30px;
    color: #000;
    font-family: "DM Sans";
    font-size: 17px;
}

.tower-metres {
    padding-top: 5px;
}
.tower-price {
    padding-top: 5px;
}

.tower-kids {
    padding-top: 5px;
}

/* Tower information */
.tower-information {
    background-color: #23334d;
    color: #F5F0F6;
    padding: 50px 0;
    text-align: center;
}

.tower-information h2 {
    padding: 8px 0px;
    font-family: "Roboto Flex";
    font-size: 25px;
}

.tower-info h2 {
    padding: 10px 0px;
    font-family: "Roboto Flex";
    font-size: 25px;
}

.tower-info p {
    padding: 2px;
    font-family: "DM Sans";
    font-size: 17px;
}

/* Footer */
.footer {
    background-color: #EE286E;
    color: #F5F0F6;
    text-align: center;
    font-size: 13px;
    font-family: "DM Sans";
    padding: 30px 0;
}

/* Gallery page */
.info-gallery {
    padding-top: 125px;
    font-size: 40px;
    text-decoration: none;
    font-family: "42dot Sans";
    color: #000;
}

.info-gallery p {
    padding: 5px 0px;
    padding-top: 20px;
    color: #000;
    font-family: "DM Sans";
    font-size: 17px;
}
/* Gallery */
img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

.img-container {
    padding-top: 3%;
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

/* Gallery Information */
.gallery-info {
    padding-top: 10px;
    background-color: #2b4162;
    color: #F5F0F6;
}

.gallery-info h2 {
    font-family: "Roboto Flex";
    padding: 25px 0px;
}

.gallery-info p {
    font-family: "DM Sans";
    font-size: 17px;
}

/* Contact us & book page*/
.contact-us {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2b4162;
    border-radius: 10px;
    border: #F5F0F6;
    
}

.contact-us h1 {
    margin-bottom: 20px;
    color: #F5F0F6;
    font-size: 40px;
}

form input,
form textarea {
display: block;
width: 100%;
margin-bottom: 10px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #F5F0F6;
color:#000;
}

form input:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #000;
}